html body {
  font-family: "proxima-nova";
  color:242424;
  background:#EFEFEF;
}
#wrapper {
  background:#FFFFFF;
  padding:2em 0;
}
p, li {
  font-size:0.9em;
}
a, a:visited {
  color:#63b4e4;
  text-decoration:underline;
}
a:hover {
  color:#0c4671;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 300;
}
h2 {
  font-size:2em;
}
h4 {
  font-size:1.2em;
  line-height:1.1em;
  font-weight:bold;
}

/*--------------------------*/
/* header with divider
/*--------------------------*/
h2.with-divider {
  background:url("/images/2013/divider.png") 0.5em center no-repeat;
  text-align:center;
}
h2.with-divider span{
  background:#FFFFFF;
  padding:0 0.7em;
  box-shadow:0px 0px 5px 4px #FFFFFF;
}
/*--------------------------*/
/* straptext
/*--------------------------*/
.strap-text p {
  font-size:1.3em;
  line-height:1.5em;
  font-weight:300;
  text-align:center;
}

/*--------------------------*/
/* speaker
/*--------------------------*/
.speaker {
  background:url("/images/2013/divider.png") bottom center no-repeat;
  padding-bottom:20px;
  margin-bottom:30px;
}
.speaker-alt h3,
.speaker-alt h4 {
  text-align:right;
}
.speaker-alt p {
  text-align:justify;
}
.speaker h3 {
  margin:0;
  padding:0;
  font-size:1.5em;
  line-height:1.4em;
}
.speaker h4 {
  margin:0 0 0.5em 0;
  padding:0;
}
.speaker p {
  font-size:0.9em;
}

/*--------------------------*/
/* TOP NAVIGATION
/*--------------------------*/
#primary-navigation  {
}
#primary-navigation h1 {
  background:url("/images/2013/nsscotland-logo.png") top left no-repeat;
  height: 124px;
  width: 136px;
  text-indent:-9999px;
  margin:0 auto;
  position:relative;
  z-index:10;
}
#primary-navigation h2 {
  color:#999999;
  position:relative;
  font-size:0.9em;
  text-align:right;
  z-index:10;
  top:-7.2em;
}
#primary-navigation nav {
  float:left;
  background:#EAEAEA;
  width:100%;
  margin-top:-6.5em;
  padding:0;
  box-shadow: 0px 1px 4px 0px #656565;
  border-radius:4px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#primary-navigation li{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  border-right:solid 1px #FFFFFF;
  border-left:solid 1px #E5E5E5;
}
#primary-navigation ul li:last-child{
  border-right:none;
}
#primary-navigation ul li:first-child{
  border-left:none;
}

#primary-navigation li a {
  font-family: 'Lucida Grande', Helvetica, Verdana, sans-serif;
  color:#454545;
  font-size:13px;
  line-height:25px;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  text-decoration:none;
  font-weight:bold;
  display:block;
  padding-top:0.7em;
  padding-bottom:0.7em;
  width:100%;
}
#primary-navigation li a:hover {
  background: #d4d4d4; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #d4d4d4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#d4d4d4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#d4d4d4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#d4d4d4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
}
/*--------------------------*/
/* TUTORIALS
/*--------------------------*/
.tutorials .strap-text  {
  background:url("/images/2013/divider.png") bottom center no-repeat;
  padding-bottom:0.5em;
  margin-bottom:0.5em;
}
.tutorials-detail #ios-tutorial {
  padding-right:3em;
}
.tutorials-detail #rails-tutorial {
  padding-left:3em;
}
.tutorials p img {
  float:left;
  margin:1em 1em 1em 0;
}
/*--------------------------*/
/* MAP
/*--------------------------*/
.map iframe {
  border:solid 1px #999999;
  border-radius:4px;
  margin-bottom:5em;
  box-shadow: 0px 1px 7px 0px #A9A9A9;
}
/*--------------------------*/
/* SCHEDULE
/*--------------------------*/
.schedule table{
  width:100%;
  border:solid 1px #999999;
  border-radius:4px;
  margin-bottom:5em;
  box-shadow: 0px 1px 7px 0px #A9A9A9;
  border-spacing:0;
}
.schedule table th {
  background:#e9eff7;
  border-right:solid 1px #999999;
}
.schedule table th,
.schedule table td{
  border-bottom:solid 1px #999999;
  padding:0.5em;
}
.schedule table thead th {
  border-right:none;
}
.schedule table h3{
  padding:0;
  margin:0;
}
.schedule .talk{
  font-weight:bold;
  margin-bottom:0.5em;
}
.schedule .interval{
  color:#999999;
  background-color:#EAEAEA;
}

/*--------------------------*/
/* FOOTER
/*--------------------------*/
#footer {
  background:#EFEFEF;
  border-top:solid 1px #D6D6D6;
  padding:2em 0;
}
#designed-by-apple {
  background:url("/images/2013/grey-nsscotland-logo.png") top left no-repeat;
}
#designed-by-apple p {
  font-family: 'Lucida Grande', Helvetica, Verdana, sans-serif;
  font-size:0.75em;
  margin-bottom:0;
  margin-left:40px;
  text-shadow: #FFFFFF 1px 1px 1px;
  color:#AAAAAA;
}
