<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="all" href="css/nsscotland.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body lang="en">
    <div id="header">
      <img id="logo" src="images/Xcode-icon.png" alt="NSScotland" />
      <h1>NSScotland</h1>
      <div id="conference_date">Saturday/Sunday 19th/20th October, 2012. 9am - 5pm</div>
      <div id="conference_venue"><a href="venue.html">Pollock Halls, Edinburgh</a></div>
    </div>

    <div id="newsletter">
      <form action='http://madmimi.com/signups/subscribe/27490' method='post'>
        <label for='signup_email'>Sign up now to hear more about NSScotland</label>
        <input id='signup_email' name='signup[email]' placeholder="cocoa@developer.com" type='text' />
        <button type="submit" name='commit' value='Sign Up'>Sign Up</button>
      </form>
    </div>

    <div id="navigation">
      <a href="index.html">Speakers</a>
      <a href="tickets.html">Tickets</a>
      <a href="schedule.html">Schedule</a>
      <a href="venue.html">Venue</a>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div id="footer">
      Logo by <a href="http://www.kennyhall.co.uk/">Kenny Hall</a>, Website by <a href="http://edgecase.com">EdgeCase UK</a>
    </div>

  </body>
</html>
