<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="all" href="css/less.css" />
    <link rel="stylesheet" media="all" href="css/nsscotland.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body lang="en">
    <div id="header">
      <img id="logo" src="images/Xcode-icon.png" alt="NSScotland" />
      <h1>NSScotland</h1>
      <div id="conference_date">1st October, 2011. 9am - 5pm</div>
      <div id="conference_venue"><a href="venue.html">Informatics Forum, University of Edinburgh, Edinburgh</a></div>
    </div>

    <div id="navigation">
      <a href="index.html">Speakers</a>
      <a href="schedule.html">Schedule</a>
      <a href="tickets.html">Tickets</a>
      <a href="venue.html">Venue</a>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div id="footer">
      Logo by Kenny Hall, Website by <a href="http://edgecase.com">EdgeCase</a>
    </div>

  </body>
</html>
