<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/foundation/foundation.css" />
    <link rel="stylesheet" href="/css/nsscotland-2013.css" />
    <script src="/js/vendor/custom.modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/imm5mhg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
<!-- TOP NAVIGATION -->
<div class="row" id="primary-navigation">
  <div class="large-12 columns">
    <h1>NSScotland</h1>
    <nav>
      <div class="row">
        <div class="large-6 columns left-nav">
          <ul>
            <li class="large-3 columns"><a href="/">Home</a></li>
            <li class="large-4 columns"><a href="/speakers">The Speakers</a></li>
            <li class="large-4 columns pull-1"><a href="/tutorial.html">Tutorial Day</a></li>
          </ul>
        </div>
        <div class="large-6 columns right-nav">
          <ul>
            <li class="large-4 columns push-1"><a href="/venue">The Venue</a></li>
            <li class="large-4 columns push-1 "><a href="/speakers">The Schedule</a></li>
            <li class="large-3 columns"><a href="/tickets">Buy Tickets</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- /TOP NAVIGATION -->

    
    {{ content }}

<!-- FOOTER -->
  <div id="footer">
    <div class="row" >
      <div class="large-12 columns">
        <p>Footer</p>
      </div>
    </div>
  </div>
<!-- /FOOTER -->

  </body>
</html>
