<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/foundation/foundation.min.css" />
    <link rel="stylesheet" href="/css/nsscotland-2013.css" />
    <link rel="stylesheet" href="css/nsscotland-2013-retina.css" 
                           media="only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)" />

    <script src="/js/vendor/custom.modernizr.js"></script>
    <script src="/js/vendor/countdown.js"></script>

    <script type="text/javascript" src="//use.typekit.net/imm5mhg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
<!-- TOP NAVIGATION -->
<div id="wrapper">
  <div class="row" id="primary-navigation">
    <div class="large-12 columns">
      <h1><a href="/">NSScotland</a></h1>
      <h2>25th + 26th October, 2014 @ Edinburgh.</h2>
      <nav>
        <div class="row">
          <div class="large-6 columns left-nav">
            <ul>
              <li class="large-3 columns"><a href="/">Home</a></li>
              <li class="large-4 columns"><a href="/speakers.html">The Speakers</a></li>
              <li class="large-4 columns pull-1"><a href="/schedule2013.html">2013 Videos</a></li>
            </ul>
          </div>
          <div class="large-6 columns right-nav">
            <ul>
              <li class="large-4 columns push-1"><a href="/venue.html">The Venue</a></li>
              <li class="large-4 columns push-1 "><a href="/schedule.html">The Schedule</a></li>
              <li class="large-3 columns buy-tickets"><a href="https://ti.to/nsscotland/2014/">Buy Tickets</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- /TOP NAVIGATION -->
      
      {{ content }}

  <div class="row">
    <div class="large-12 columns buy-now">
      <a href="https://ti.to/nsscotland/2014/" class="button">Tickets available from only &pound;200 (+VAT)</a>

      <!--
      <div id="countdown">
      <script type="application/javascript">
      var myCountdown2 = new Countdown({time: 10281600, width:280, height:55, rangeHi:"month", style:"flip"});
      </script>
      </div>
      -->
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns" id="sponsors">
      <h2>Proudly sponsored by:</h2>

	  <p><a href="/sponsors.html#karelia"><img src="/images/2013/karelia.png" /></a></p>
      <!--
      <p><a href="/sponsors.html">Interested in sponsoring NSScotland?</a></p>
      -->
    </div>
  </div>
</div>

<!-- FOOTER -->
<div id="footer">
  <div class="row" >
    <div class="large-4 columns" id="designed-by-apple">
      <p><a href="http://www.youtube.com/watch?v=VpZmIiIXuZ0">Designed By Apple in California.</a></p>
      <p><a href="http://www.youtube.com/watch?v=H4PxuFQCDis">Made in Scotland from Girders.</a></p>
    </div>
    <div class="large-8  columns" id="organized">
      <p id="twitter">Twitter: <a href="https://twitter.com/nsscotland">@nsscotland</a></p>
      <p>Organised by <a href="#" data-reveal-id="organisers-alan" class="the-organisers">Alan Francis</a> 
      &amp; 
      <a href="#" data-reveal-id="organisers-paul" class="the-organisers">Paul Wilson</a>.</p>
      <p>Photo Credit: <a href="http://www.flickr.com/photos/pipsroadster/5898567832/">Phill McIntosh</a> 
       / Site: <a href="http://www.leftbrained.co.uk">Gavin Montague</a>.</p>

    </div>
  </div>


</div>
<!-- /FOOTER -->

<div class="row" >
  <div id="organisers-alan" class="organiser-modal reveal-modal medium">
    <div class="organiser">
      <img src="/images/2013/speakers/alan_francis.jpg" />
      <h3>Alan C. Francis</h3>
      <p>In 20 years, Alan’s done a lot of different things in Software. He’s built control systems for dams 
          in FORTRAN, the original DVD authoring tools on Windows in C++, Financial Systems on Solaris in Java, 
          System Monitoring software on Linux in Ruby, and these days merchant tools for iOS in Objective C. 
          In between he’s been an Agile process consultant for ObjectMentor and ThoughtWorks, and co-organises the Scottish Ruby Conference.</p>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
<div class="row" >
  <div id="organisers-paul" class="organiser-modal reveal-modal medium">
    <div class="organiser">
      <img src="/images/2013/speakers/paul_wilson.jpg" />
      <h3>Paul Wilson</h3>
      <p>Paul is a coach and coder with over ten years of experience of Agile/XP. He is an active member of the Ruby and Agile communities, and co-organiser of the Scottish Ruby Conference. He has spoken at many conferences and events; these include RubyConf, The Naked Agilist, and guest lectures at Glasgow Caledonian and Edinburgh Napier Universities.</p>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
<script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42123362-1']);
  _gaq.push(['_setDomainName', 'nsscotland.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>

  </body>
</html>
